.images_group
  - @bibble = "bibble"
  #links
    - (1..27).each do |num|
      = link_to image_path("#{@korpus}/#{@bibble}/#{num}.jpg") do
        = image_tag "#{@korpus_mini}/#{@bibble}/#{num}.jpg"
