.centered.icons
  .znachki.mebel
    #tabs
      %ul
        %li
          %a{href: "#bibble"}
            .bibble
            %p БИБЛИОТЕКИ
        %li
          %a{href: "#tabs-2"}
            .cloakroom
            %p ГАРДЕРОБНЫЕ
        %li
          %a{href: "#tabs-3"}
            .cupboard
            %p ШКАФЫ
        %li
          %a{href: "#tabs-4"}
            .hall
            %p ПРИХОЖИЕ
        %li
          %a{href: "#tabs-5"}
            .kids
            %p ДЕТСКИЕ
        %li
          %a{href: "#kitchen"}
            .kitchen
            %p КУХНИ
        %li.last-child
          %a{href: "#tabs-7"}
            .lounge
            %p ГОСТИННЫЕ

        #bibble
          = image_tag 'korpus_mini/bibble/1.jpg'
          = image_tag 'korpus_mini/bibble/2.jpg'
          = image_tag 'korpus_mini/bibble/3.jpg'
          = image_tag 'korpus_mini/bibble/4.jpg'
          = image_tag 'korpus_mini/bibble/5.jpg'
          = image_tag 'korpus_mini/bibble/6.jpg'
          = image_tag 'korpus_mini/bibble/7.jpg'
          = image_tag 'korpus_mini/bibble/8.jpg'
          = image_tag 'korpus_mini/bibble/9.jpg'
        #tabs-2
          %p Morbi tincidunt
        #tabs-3
          %p Mauris eleifend est
        #kitchen
          .tab_content
            .tab_left
              = image_tag 'kitchen_classic.jpg'
              %p
                КЛАССИЧЕСКИЕ
            .tab_right
              = image_tag 'kitchen_nowtime.jpg'
              %p
                СОВРЕМЕННЫЕ


