= render 'layouts/gallery_controls'
.centered.icons
  .znachki.mebel
    #tabs
      %ul
        %li
          %a{href: "#bibble"}
            .bibble
            %p БИБЛИОТЕКИ
        %li
          %a{href: "#cloakroom"}
            .cloakroom
            %p ГАРДЕРОБНЫЕ
        %li
          %a{href: "#cupboard"}
            .cupboard
            %p ШКАФЫ
        %li
          %a{href: "#hall"}
            .hall
            %p ПРИХОЖИЕ
        %li
          %a{href: "#kids"}
            .kids
            %p ДЕТСКИЕ
        %li
          %a{href: "#kitchen"}
            .kitchen
            %p КУХНИ
        %li.last-child
          %a{href: "#lounge"}
            .lounge
            %p ГОСТИННЫЕ

        #bibble
          .images_group
            - @bibble = "bibble"
            #links
              - (1..27).each do |num|
                = link_to image_path("#{@korpus}/#{@bibble}/#{num}.jpg") do
                  = image_tag "#{@korpus_mini}/#{@bibble}/#{num}.jpg"
        #cloakroom
          .images_group
            - @cloakroom = "cloakroom"
            #links
              - (1..27).each do |num|
                = link_to image_path("#{@korpus}/#{@cloakroom}/#{num}.jpg") do
                  = image_tag "#{@korpus_mini}/#{@cloakroom}/#{num}.jpg"
        #cupboard
          .images_group
            - @cupboard = "cupboard"
            #links
              - (1..27).each do |num|
                = link_to image_path("#{@korpus}/#{@cupboard}/#{num}.jpg") do
                  = image_tag "#{@korpus_mini}/#{@cupboard}/#{num}.jpg"
        #hall
          .images_group
            - @hall = "hall"
            #links
              - (1..27).each do |num|
                = link_to image_path("#{@korpus}/#{@hall}/#{num}.jpg") do
                  = image_tag "#{@korpus_mini}/#{@hall}/#{num}.jpg"
        #kids
          .images_group
            - @kids = "kids"
            #links
              - (1..21).each do |num|
                = link_to image_path("#{@korpus}/#{@kids}/#{num}.jpg") do
                  = image_tag "#{@korpus_mini}/#{@kids}/#{num}.jpg"
        #kitchen
          .tab_content
            .tab_left
              = image_tag 'kitchen_classic.jpg'
              %p
                КЛАССИЧЕСКИЕ
            .tab_right
              = image_tag 'kitchen_nowtime.jpg'
              %p
                СОВРЕМЕННЫЕ

        #lounge
          .images_group
            - @lounge = "lounge"
            #links
              - (1..27).each do |num|
                = link_to image_path("#{@korpus}/#{@lounge}/#{num}.jpg") do
                  = image_tag "#{@korpus_mini}/#{@lounge}/#{num}.jpg"


