.images_group
  - @kitchen = "kitchen"
  - @classic = "classic"
  - @names = %W[ Амати  Амати  Арена  Арена  Аризона Аризона  Аризона  Бергонцо  Бергонцо  Бергонцо  Венеция Венеция  Гальяно  Гальяно  Гварнери  Гварнери  Инфинити  Инфинити\\Платинум  Инфинити\\Платинум  Карарра  Колизей  Луизиана  Луизиана  Монтана  Монтана  Наполи  Наполи  Нике  Нике\\Аворио  Олимп  Олимп  Римини  Римини  Рихард  Рихард  Руджери  Руджери  Руджери  Сиена  Страдивари  Страдивари  Страдивари ]
  #links
    - num = 0
    - @names.each do |name|
      - num += 1
      = link_to image_path("#{@korpus}/#{@kitchen}/#{@classic}/#{num}.jpg") do
        = image_tag "#{@korpus_mini}/#{@kitchen}/#{@classic}/#{num}.jpg"
        %span= name
