!!!
%html
  %head
    %title Bismarck
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %script{src: "//code.jquery.com/jquery-1.9.1.js"}
    %script{src: "//code.jquery.com/ui/1.10.4/jquery-ui.js"}
    %script{src: "/js/jquery.scrollTo-1.4.3.1-min.js" }
    = yield :google_head
    %link{href: "http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css", rel: "stylesheet"}

  %body{onload: "initialize()"}

    %header
      %aside
        .centered
          = render 'layouts/logo'
          = render 'layouts/telefon'
      .border
      %nav
        = render 'layouts/nav'
    #content
      = content_for?(:application_layout) ? yield(:application_layout)  : yield
    %footer
      %nav
        - if @current_page.include? "mebel" and @current_page.exclude? "kitchen"
          = render 'layouts/footer_mebel_nav'
        - elsif @current_page.include? "kitchen"
          = render 'layouts/footer_kitchen_nav'
        - else
          = render 'layouts/footer_nav'
      .border
      %aside
        .centered
          %p
            Bismarck © 2014 Все права защищены
          %p
            Design by Artyom Malakhow

    = yield :gallery

    = yield :google

