!!!
%html
  %head
    %title Bismarck
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %script{src: "//code.jquery.com/jquery-1.9.1.js"}
    %script{src: "//code.jquery.com/ui/1.10.4/jquery-ui.js"}
    %link{href: "http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css", rel: "stylesheet"}

  %body
    %header
      %aside
        .centered
          = render 'layouts/logo'
          = render 'layouts/telefon'
      .border
      %nav
        = render 'layouts/nav'
    #content
      = content_for?(:application_layout) ? yield(:application_layout)  : yield
    %footer
      %nav
        = render 'layouts/footer_nav'
      .border
      %aside

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"}
    %script{src: "http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"}
    %script{src: "/gallery/js/blueimp-gallery.min.js"}
